<section>
    <div class="container">

        <form>
            <!-- Name input -->
            <div class="form-outline mb-4 mt-5 col-4">
                <input type="text" id="form4Example1" class="form-control" />
                <label class="form-label" for="form4Example1">Coupon</label>
            </div>

            <!-- Offer percentage -->
            <div class="form-outline mb-4 col-4">
                <input type="text" id="form4Example1" class="form-control" />
                <label class="form-label" for="form4Example1">Offer percentage</label>
            </div>

            <!-- minimum and maximum amount -->
            <div class="form-outline mb-4 col-4">
                <input type="email" id="form4Example2" class="form-control" />
                <label class="form-label" for="form4Example2"> minimum amount</label>
            </div>

            <div class="form-outline mb-4 col-4">
                <input type="email" id="form4Example2" class="form-control" />
                <label class="form-label" for="form4Example2"> maximum amount</label>
            </div>

            <!-- offer Description -->
            <div class="form-outline mb-4 col-4">
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                <label class="form-label" for="form4Example3">offer Description</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 col-4">Add Coupon</button>
        </form>
    </div>
</section>