<style>
  .iconClass{
  position: relative;
}
.iconClass span{
  position: absolute;
  top: -24px;
  right: 12px;
  display: block;
}
@media (min-width:760px) {
    .iconClass {

    }
  }

@media (min-width:579){
    .homehead:{
       margin-left: 15px;
    }
}
    
    
</style>

<div>
    <div class="header-dark">
        <nav class=" navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="#">D-DRESS</a>
            <button class="navbar-toggler"
                    data-toggle="collapse" data-target="#navcol-1">
                    <span class="text-dark"><i class="fa-solid fa-bars"></i></span>
                        </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class=" nav navbar-nav homehead">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/profile">Profile</a></li>
                        {{#if user}}
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/orders">Orders</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/wishlist">Fav</a></li>
                        {{/if}}
                          
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Categories</a>   
                            <div class="dropdown-menu" role="menu">
                               {{#each datacategory}}
                                <a class="dropdown-item" role="presentation" href="/category/{{this.categories}}">{{this.categories}}</a>
                                {{/each}}            
                            </div>  
                        </li>                    
                    </ul>
                    <form action="/home" class="form-inline mr-auto" target="_self" method="get">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                                class="form-control search-field" type="search" name="search" id="search-field"></div>
                    </form>
                        <a href="/cart" class="iconClass">
                        <span class="material-symbols-outlined" style=" color: aliceblue;">shopping_cart_checkout</span>
                        <span class="badge" style="">{{cartCount}}</span>   
                    </a>                   
                    {{!-- <a href="" class="iconClass"><span class="material-symbols-outlined color: aliceblue;">person</span></a> --}}
                    {{#if user}}
                        {{!-- <button type="submit" class="btn btn-light action-button"  href="/logout">log out</button> --}}
                        <a class="btn btn-light action-button"  href="/logout">Log out</a>

                    {{else}}
                        {{!-- <button type="submit" class="btn btn-light action-button"  href="/login">Log In</button> --}}
                        <a class="btn btn-light action-button"  href="/login">Log In</a>
                    {{/if}}    
                </div>
            </div>
        </nav>
    </div>
</div>