<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
  body {
    background: #cecece
}

header {
    background: #000;
    color: #fff
}

.left-side,
.right-side {
    height: 100vh
}

.navbar-transparent {
    background: transparent
}

.navbar-nav>li>a {
    color: #fff
}

.navbar-nav>li:hover {
    border-bottom: 1px solid #fff
}

.navbar-nav>.active {
    border-bottom: 1px solid #fff
}

.navbar-brand {
    font-family: 'Allerta Stencil', sans-serif;
    color: #83ff00
}

.navbar-brand:hover {
    color: #fff
}

.left-side img {
    padding-top: 100px
}

.shape {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #ce0000, #7A0800 70%);
    position: absolute;

}

.right-side {
    padding-top: 150px
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold
}

.btn.order-button {
    background: transparent;
    border: 2px solid #83ff00;
    color: #83ff00;
    border-radius: 30%;
    transition: 0.7s
}

.btn.order-button:hover {
    border: 2px solid #ce0000;
    color: #ce0000
}
</style>
</head>
<body>

<div class="container-fluid px-0">
  	<header>	
      <div class="shape"></div>	
        <!-- ./ end of navbar -->
        <div class="container">	<div class="row">	<div class="col-md-6 left-side">	<img src="images/cover4.jpg" style="width: 70%;"><img src="images/cover5.jpg" style="width: 29%;"></div>	
        <div class="col-md-6 right-side">	<h1>Life is short Buy the dress</h1> <p>FREE DELIVERY</p>	<div class="text-center">
        <form action="/home">
            <button type="submit" class="btn order-button">ORDER NOW</button>    
        </form>    	
        	
        
        </div>	</div>	</div>	</div>	
    </header>	
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>