  <div class="container">
        <div class="row mb-5  d-flex justify-content-center">
            <div class="card" style="width: 30rem;">
                <h1 class="headinggg">Order placed</h1>
                <img class="card-img-top " src="/product-images/img_confirm.png" alt="Card image cap">
                <a href="/orders" class="btn btn-primary btn-lg py-3 btn-block">View orders</a>
                <a href="/home" class="btn btn-primary btn-lg py-3 btn-block">BAck to home</a>
            </div>
        </div>
    </div>